:root{  
    --module_background:#F1F1F1;
    --x_tab_background:#F4F8FE;
    --x_tab_color:#787878;
    --cms_boxshadow:0px 3px 6px 0px rgba(185, 190, 202, 0.54);
    --elinput: #fff;
    --elinput_border: #fff;
    --elinput_word: #787878;
    --eltable_head: #DBDFE7;
    --eltable_head_middle: #CACDD3;
    --eltable_head_word: #35363B;
    --eltable_body:#fff;
    --eltable_body_word: #8B9CA4;
    --eltable_body_td_border:#E3E6ED;
    --eltable_body_hover:#F4F4F8;
    --eltable_body_border_hover:1px solid #DBDFE7;
    --cms_button_search:#8B9CA4;
    --cms_button_add:#569e58;
    --cms_button_del:#F86B6B;
    --cms_button_change:#8B9CA4;
    --cms_button_change_word:#fff;
    --cms_button_save:#569E58;
    --cms_button_determine:#5A84FF;
    --cms_button_cancel:#D6D6D6;
    --cms_button_cancel_word:#666666;
    --popup_head: #EDEFF0;
    --popup_head_word: #35363B;
    --popup_body_word: #2E2F33;
    --popup_body: #FBFBFB;
    --elselect_empty-block:#fff;
    --el_popper_arrow:#fff;
    --el_popper_word:#3c3d42;
    --el-tag--info:#F0F2F5;
    --el-select__tags-text:#878B93;
    --el-select-dropdown__item_selected:#fff;
    --el-checkbox__label:#606266;
    --el-checkbox__inner:#fff; 
    --head_condition_word: #787878;
    --el-picker__popper_border:#E4E7ED;
    --el-date-table-cell:#f2f6fc;
    --el-picker-panel:#606266;
    --el-date_okbutton:#fff;
    --el-date_okbutton_border:#DCDFE6;
    --el-time-spinner__item_hover:#F5F7FA;
    --el-time-spinner__item:#606266;
    --el-time-spinner__item_selected:#000;
    --el-time-panel__footer_cancel:#303133; 
    --usermanagement_m_dialog:#F8F8FA;
    --usermanagement_m_dialog_header_word:#000;
    --usermanagement_m_dialog_wrap: #fff;
    --usermanagement_m_wrap_th:#DBDFE7;
    --usermanagement_m_wrap_border:#E3E6ED;
    --usermanagement_m_wrap_body_odd:#F7F8F9;
    --usermanagement_m_wrap_body_even:#F2F2F3;
    --usermanagement_m_wrap_th_color:#3D6EFF;
}