:root{  
    --module_background:#101010;
    --elselect_time: #1F1F23;
    --head_condition_word: #C5C4C4;
    --head_condition_search_button:#5A84FF;
    --elinput: #3D3D3D;
    --elinput_border: #3D3D3D;
    --elinput_word: #ffffff;
    --eltable_head: #303640;
    --eltable_body:#1F1F23;
    --eltable_head_middle: #CACDD3;
    --eltable_head_word: #FFFFFF;
    --eltable_body_word: #DBDBDB;
    --eltable_body_td_border:#2B2B2E;
    --elbutton_usermanagement_table_button:#3D3D44;
    --elbutton_usermanagement_table_button_word:#fff;
    --query_button: #020203;
    --query_button_word: #5A84FF;
    --popup_head: #292A2E;
    --popup_head_word: #ffffff;
    --popup_body_word: #2E2F33;
    --popup_body: #2E2F33;
    --elselect_selected: #2F71EE;
    --elselect_word: #ffffff;
    --eltree_selected: #252D46;
    --eltree_selected_border: #5A84FF;
    --popup_cancel_button: #3E3F44;
    --popup__button_determine: #3D6EFF;
    --eltree_word: #fff;
    --eltree: #252529;
    --el-select__popper:#202124;
    --elbutton_popup_cancel:#3E3F44;
    --elbutton_popup_cancel_word:#fff;
    --el-fill-color-light: #252D46 !important;
    --el-text-color-regular:#fff !important;
    --el-color-white: #252D46 !important;
    --el-fill-color: #2D3858 !important;
    --el-color-info: #2F71EE  !important;
    --usermanagement_m_dialog:#303640;
    --usermanagement_m_dialog_header_word:#fff;
    --usermanagement_m_dialog_wrap: #000;
    --el-fill-color-light: #35353B !important;
    --usermanagement_m_wrap_th:#38383E;
    --usermanagement_m_wrap_border:#2B2B2E;
    --usermanagement_m_wrap_body_odd:#1F1F23;
    --usermanagement_m_wrap_body_even:#29292E;
    --usermanagement_m_wrap_th_color:#fff;
    --elpopper_word:#fff !important;
}