.content {
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 100%;
  border: 1px solid #dbdbdb;
}

.infoBtn {
  width: 98px;
  height: 26px;
  opacity: 1;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #dbdbdb;
  color: #666666;
  font-size: 14px;
}

.primaryBtn {
  width: 98px;
  height: 26px;
  border-radius: 3px 3px 3px 3px;
  font-size: 14px;
}

.btnStyle {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
