.mamagement {
  display: flex;
  height: 100%;
  // columns: 3;
  // column-gap: 13;
}
.FormulaList {
  width: 950px;
}
.ProcessRoute {
  width: 400px;
  margin-left: 13px;
}
.ProcessParams {
  margin-left: 13px;
  width: 600px;
  overflow: hidden;
}
